@{
    ViewBag.Title = "Say No To SQL";
}

<div class="jumbotron">
    <h1>Say No To SQL</h1>
    <p class="lead">SQL Query synthesis using DataTable Example.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why No To SQL</h2>
        <p>
            <ul>
                <li> Helps non-Developers to synthesize SQL queries</li>
            </ul>
        </p>
    </div>
</div>